<footer>
    <div class="container footer-main">
    
    <div class="row">
    <div class="col-lg-4 text-center">
    <div class="footer-logo">
    <img src="https://michoacan.gob.mx/images/logo-gris.png" class="logoFooter"
    alt="footer-logo">
    </div>
    </div>
    <div class="col-lg-4 text-center">
    <!-- Social Icons -->
    <ul class="social-icons list-inline">
    <li class="list-inline-item">
    <br>
    
    <a href="https://twitter.com/GobMichoacan" target="_blank"><i class="fab fa-2x fa-
    twitter"></i></a>&nbsp;&nbsp;
    
    </li>
    <li class="list-inline-item">
    <br>
    <a href="https://www.facebook.com/gobmichoacan/" target="_blank"><i
    class="fab fa-2x fa-facebook"></i></a>&nbsp;&nbsp;
    </li>
    <li class="list-inline-item">
    <br>
    <a href="https://www.instagram.com/gobmichoacan/?hl=es" target="_blank"><i
    class="fab fa-2x fa-instagram"></i></a>&nbsp;&nbsp;
    </li>
    <li class="list-inline-item">
    <br>
    
    <a href="https://t.me/GobiernodeMichoacan" target="_blank"><i class="fab fa-2x fa-
    telegram-plane"></i></a>&nbsp;&nbsp;
    
    </li>
    <li class="list-inline-item">
    <br>
    <a href="https://open.spotify.com/user/rr3zgtpveoxmy02i5t9bj9l7z"
    target="_blank"><i class="fab fa-2x fa-spotify"></i></a>&nbsp;&nbsp;
    </li>
    </ul>
    <!-- Footer Links -->
    <a href="http://smo.michoacan.gob.mx">Correo institucional</a><br>
    
    
    
    <a href="https://www.michoacan.gob.mx/aviso-de-privacidad/">Aviso de
    privacidad</a> <br>
    </div>
    <div class="col-lg-4 text-center">
    <br>
    <h4 class="texto-gris">#HonestidadyTrabajo</h4>
    </div>
    <div class="col-12">
    <hr>
    </div>
    <div class="col-12 text-center">
    
    © Desarrollado por la Coordinación General de Comunicación Social | <b class="texto-
    guinda">Gobierno del Estado de Michoacán 2023</b>
    
    </div>
    </div>
    </div>
    <div class="container-fluid footer-pleca">
    <div class="row">
    <div class="col">
    <br><br>
    </div>
    </div>
    </div>
    </footer>
    <!-- JAVASCRIPTS -->
    <script src="https://www.michoacan.gob.mx/cdn/js/jquery-3.6.0.min.js"></script>
    <script src="https://www.michoacan.gob.mx/cdn/js/bootstrap.js"></script>
    <!-- SCRIPTS ADICIONALES -->