<footer>
    <div class="container footer-main">
    
    <div class="row">
    <div class="col-lg-4 text-center">
    <div class="footer-logo">
    <img src="https://michoacan.gob.mx/images/logo-gris.png" class="logoFooter"
    alt="footer-logo">
    </div>
    </div>
    <div class="col-lg-4 text-center">
    <!-- Social Icons -->
    
    </div>
    <div class="col-lg-4 text-center">
    <br>
    <h4 class="texto-gris">#HonestidadyTrabajo</h4>
    </div>
    <div class="col-12">
    <hr>
    </div>
    <div class="col-12 text-center">
    

    </div>
    </div>
    </div>
    <div class="container-fluid footer-pleca">
    <div class="row">
    <div class="col">
    <br><br>
    </div>
    </div>
    </div>
    </footer>
    <!-- JAVASCRIPTS -->
    <script src="https://www.michoacan.gob.mx/cdn/js/jquery-3.6.0.min.js"></script>
    <script src="https://www.michoacan.gob.mx/cdn/js/bootstrap.js"></script>