<body>
    <mat-card class="example-card">
        <form class="example-form">

            <h4>Editar usuario</h4>
            <br>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="nombre" name="nombre">
                        </mat-form-field></td>

                    <td><mat-form-field class="example-full-width">
                            <mat-label>Apellido</mat-label>
                            <input matInput [(ngModel)]="apellido" name="apellido">
                        </mat-form-field></td>
                </tr>
            </table>

                <mat-form-field class="example-full-width">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="eje@ejemplo.com" [formControl]="email" (blur)="updateErrorMessage()"
                        required>
                    @if (email.invalid) {
                    <mat-error>{{errorMessage}}</mat-error>
                    }
                </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput type="passwordConfirm">
            </mat-form-field>

            <form>
                <h4>Tipo de Usuario:</h4>
                <mat-form-field class="custom-select">
                    <mat-label>Selecciona un rol</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="tipoUsuario">
                        @for (roles of rol; track roles) {
                        <mat-option [value]="roles.value">{{roles.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>

        </form>
    </mat-card>
</body>