
#encabezado{
    height: 105px;
}
#fondo{
    position: relative;
    justify-content: center;
    margin-top: 2%;
}
#contenido{
    display: block;
    width: 70%;
    margin-top: 10px;
    margin-left: 55px;
    box-shadow: 4px 7px 6px gray;
    border-radius: 5px;
}

mat-form-field{
  width: 100%;
  height: 70px;
}
#openModalBtn{
  width: 150px;
  margin-left: 150px;
  margin-bottom: 25px;
}

.example-small-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 1px;
  border-radius: 8px;
}

.example-large-box{
  display: flex;
  justify-content: center;
  margin: 16px;
  padding: 1px;
  border-radius: 8px;
}

.example-small-box {
  height: 500px;
  width: 970px;
}

.example-large-box {
  height: 500px;
  width: 980px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

