<body>
  <div class="background">

    <div class="row" style="background-color: rgb(255, 255, 255);" id="encabezado">

    </div>
    <div class="row" style="background-color: rgb(255, 255, 255);" id="fondo">

      <div class="col-11" style="background-color: rgb(255, 255, 255);" id="contenido">

        <mat-tab-group dynamicHeight>

          <mat-tab label="Usuarios">
            <div class="example-small-box mat-elevation-z4">
              <app-usertab></app-usertab>
            </div>
          </mat-tab>

          <mat-tab label="Nuevo">
            <div class="example-large-box mat-elevation-z4">
              <div class="col-4">
              <app-registro></app-registro>
            </div>
            <div class="col-1"></div>
            <div class="col-6">
              <app-ofitab></app-ofitab>
            </div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</body>