#contenedor-document {
    border-radius: 10px;
    box-shadow: 1px 3px 10px #6A0F49;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}


#dash .col-11 { 
    float: none;
}

/* Contenedor principal centrado */
.contenedor-central {
    text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e7e7;
  padding: 1rem;
  margin-top: 20px;
}

/* Caja blanca tipo login */
.contenedor-card {
  width: 100%;
  max-width: 1000px;
  background-color: #f8f9fa;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transform: scale(0.75);
  transform-origin: center;
}

.modal-modern {
  border-radius: 1.5rem;
  background: #ffffff;
  overflow: hidden;
}

.custom-header {
  background:  linear-gradient(135deg, #6A0F49, #9c1c6a);
  color: #fff;
  border-bottom: none;
  padding: 1rem 1.5rem;
}

.custom-header .modal-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.custom-header .btn-close {
  filter: invert(1);
  opacity: 0.8;
}