<body>
  <!-- Cuerpo principal centrado -->
  <div class="contenedor-central">
    <div class="contenedor-card">

      <div class="zoom-wrapper">
        <div id="contenedor-document">
          <div id="dash" class="row justify-content-center">
            <div class="col-11">

              <!-- Cajero -->
              <div *ngIf="type === 2" id="componente-tabla">
                <h3 class="titulo-oficina">Oficinas</h3>
                <app-ofitab></app-ofitab>
              </div>

              <!-- Admin y Auditor -->
              <div *ngIf="type === 1 || type === 3" class="text-center">
                <div class="w-100">

                  <h3 class="titulo-oficina mb-4">Oficinas</h3>

                  <mat-form-field appearance="fill" class="w-100 mb-3">
                    <mat-label>Buscar oficina...</mat-label>
                    <input matInput (input)="applyFilter($event)" placeholder="Escribe un nombre o ID">
                  </mat-form-field>

                  <div class="mat-elevation-z2 tabla-scroll">
                    <table mat-table [dataSource]="dataSource" class="table table-hover mat-table">

                      <ng-container matColumnDef="office">
                        <th mat-header-cell *matHeaderCellDef>Oficina</th>
                        <td mat-cell *matCellDef="let oficina">{{ oficina.office }}</td>
                      </ng-container>

                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Descripción</th>
                        <td mat-cell *matCellDef="let oficina">{{ oficina.description }}</td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="seleccionarOficina(row)"
                        class="fila-hover-focus">
                      </tr>

                    </table>

                    <mat-paginator [pageSize]="6" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>