<body>
  
  <div class="row" id="cabecera">
    Cabecera
  </div>
  
  <div class="row" id="cuerpo">
    
    <div class="col-2" id="arbol">
      <div id="arbol-contenido">
        <h5>Repositorio Documental Digital de Ingresos</h5>
        <!--ARBOL DE DOCUMENTOS-->
      </div>
    </div>
  
    <div class="col-9" id="contenedor-document">
      
      <div class="row" id="dash">
        <div class="col-11">
          <div id="componente-tabla" style="margin-top: 20px;">
            <h5>Oficinas</h5>
            <!-- Tabla de Oficinas -->
            <app-ofitab></app-ofitab>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  </body>