/* Hover/focus personalizado para filas */
.fila-hover-focus:hover,
.fila-hover-focus:focus,
.fila-hover-focus.cdk.focused,
.fila-hover-focus.cdk-keyboard-focused {
  background-color: #6A0F49 !important;
  color: #ffc3d0 !important;
  cursor: pointer;
  outline: none;
}

/* Contenedor principal centrado */
.contenedor-central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e7e7;
  padding: 1rem;
}

/* Caja blanca tipo login */
.contenedor-card {
  width: 100%;
  max-width: 1000px;
  background-color: #f8f9fa;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transform: scale(0.7);
  transform-origin: center;
}
