mat-card {
  width: 100%;
  max-width: 650px;
  background-color: #f8f9fa; /* Color suave tipo Bootstrap */
  border-radius: 2rem;
}

@media (max-width: 280px) {
  mat-card {
    padding: 1.5rem;
    max-width: 90vw;
  }
}

h4, h6 {
  color: #343a40;
  font-weight: bold;
}

mat-form-field {
  font-size: 14px;
}

button {
  font-weight: bold;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* pantalla completa */
  background-color: #e8e7e7; /*Fondo de Login*/
  padding: 1rem;
}

/* 
================
Mensaje de error
================
*/

.mensaje-error {
  color: #6A0F49;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.alerta-snackbar {
  background-color: #6A0F49; /* rojo tipo alerta */
  color: white;
  font-weight: bold;
}
