<div class="login-wrapper">
  <mat-card class="p-4 mb-4 shadow-lg rounded">
    <h4 class="text-center mb-4">Bienvenido al Gobierno de Michoacán</h4>
    <div class="row">
      <div class="col-md-7">
        <h6 class="text-center mb-4">REPOSITORIO DOCUMENTAL<br>DIGITAL DE INGRESOS</h6>

        <form #form="ngForm" (ngSubmit)="iniciarSesion()" novalidate>

          <mat-form-field appearance="outline" class="w-100 mb-4">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]="usuario" name="usuario" required #usuarioInput="ngModel">
            <span matSuffix style="margin-right: 15px;">
              <i class="fas fa-user text-secondary"></i>
            </span>
            <mat-error *ngIf="usuarioInput.invalid && usuarioInput.touched">*Ingresa un usuario</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mb-4">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="pass" name="pass" [type]="hide ? 'password' : 'text'" required
              #passInput="ngModel">
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide">
              <i class="fas" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
            <mat-error *ngIf="passInput.invalid && passInput.touched">*Ingresa una contraseña</mat-error>
          </mat-form-field>

          <button mat-raised-button color="button btn-primary btn-sm w-100" (click)="iniciarSesion()" [disabled]="cargando">
            Iniciar sesión
          </button>
          
          <div *ngIf="errorLogin" class="mensaje-error">
            {{ errorLogin }}
          </div>

        </form>
      </div>

      <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
        <img src="https://michoacan.gob.mx/cdn/img/logo.svg" alt="Logo Michoacán" class="img-fluid"
          style="max-height: 150px;">
      </div>
    </div>
  </mat-card>
</div>