<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
</head>

<body>
    <h4>Bienvenido al Gobierno de Michoacán</h4>
    <div class="mt-3" id="form">
        <div class="row" id="login">
            <div class="col-sm-7">
                <h6>REPOSITORIO DOCUMENTAL<br>DIGITAL DE INGRESOS</h6>

                <div class="form-group" id="datos-usuario">
                    <input class="form-control" id="usuario-01" type="text" placeholder="Usuario...">
                    <br>
                    <input class="form-control" id="password-01" placeholder="Contraseña..." type="password">
                </div>
                <br>
                <div style="text-align: end;">
                    <button type="button" class="btn btn-primary btn-sm">Acceder</button>
                </div>
            </div>
            <div class="col-sm-5" style="align-content: center;">
                <img src="https://michoacan.gob.mx/cdn/img/logo.svg" alt="">
            </div>
        </div>
    </div>

</body>