<!DOCTYPE html>
<html lang="es">

<head>
  <title>Gobierno de Michoacan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-
scale=3.0, user-scalable=1" />

  <meta name="description" content="Portal ciudadano del Gobierno del Estado de
Michoacán">
  <meta name="keywords" content="gobierno, michoacan, portal, sitio web, dependencia
michoacan, cgcs, comunicacion social">
  <meta name="author" content="Coordinación General de Comunicación Social">
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Michoacán">
  <meta name="twitter:card" value="summary">
  <meta property="og:title" content="TÍTULO DE LA PÁGINA" />
  <meta property="og:image" content="https://michoacan.gob.mx/images/michog.jpg" />
  <meta property="og:description" content="DESCRIPCIÓN DE LA PÁGINA" />

  <!-- Bootstrap -->
  <link href="https://michoacan.gob.mx/cdn/css/bootstrap.min.css" rel="stylesheet">
  <!-- Hoja de Estilos-->
  <link href="https://michoacan.gob.mx/cdn/css/estilos.css?ver=1.00" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.15.4/css/all.min.css">

  <!-- FAVICON -->
  <link rel="shortcut icon" href="https://michoacan.gob.mx/cdn/img/favicon/favicon.ico" type="image/x-icon" />

  <link rel="apple-touch-icon" href="https://michoacan.gob.mx/cdn/img/favicon/apple-
touch-icon.png" />

  <link rel="apple-touch-icon" sizes="57x57"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://michoacan.gob.mx/cdn/img/favicon/apple-touch-icon-180x180.png" />
</head>

<body class="body-wrapper">

  <app-navbar *ngIf="mostrarLayout"></app-navbar>
  <router-outlet></router-outlet>
  <app-footer *ngIf="mostrarLayout"></app-footer>