<nav class="navbar main-nav fixed-top navbar-expand-lg" style="border-bottom: 5px solid
#FFC3D0; position: fixed;">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost/michoacan.gob.mx">
            <img src="https://michoacan.gob.mx/cdn/img/logo.svg" height="85px;" alt="logo">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data- bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria- label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link ancla" href="adminusers" role="link">Usuarios</a>
             
                <li class="nav-item">
                    <a class="nav-link" href="login">Salir</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>