<div class="row" id="cabecera"></div>

<div class="row" id="cuerpo">

  <div class="col-2" id="arbol">
    <br><h5>Repositorio Documental Digital de Ingresos</h5>

    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="arbol-personalizado">

        <!-- Nodo hoja (PDF) -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <div (click)="onNodeClick(node)" class="nodo-carpeta">
            <mat-icon style="margin-right: 4px;">folder</mat-icon>
            {{ getNombreMes(node.name) || node.name }}
          </div>
        </mat-tree-node>

        <!-- Nodo con hijos (carpetas) -->
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <div (click)="toggleNode(node); onNodeClick(node)" class="nodo-carpeta">
            <mat-icon style="margin-right: 4px;">
              {{ treeControl.isExpanded(node) ? 'folder_open' : 'folder' }}
            </mat-icon>
            {{ getNombreMes(node.name) || node.name }}{{node.methodPay}}

          </div>
        </mat-tree-node>

      </mat-tree>
    </cdk-virtual-scroll-viewport>
  </div>

  <div class="col-9" id="contenedor-document">
    <br>
    <div class="row justify-content-center">
      <div class="col-auto">
        <h5>
          Oficina: {{oficinaSeleccionada?.office || "No se seleccionó oficina"}} |
          Municipio: {{oficinaSeleccionada?.description || ""}}
        </h5>
      </div>
    </div>

    <div class="row" id="dash">

      <!-- Listado de documentos -->
      <div class="col-3" id="documentos">

        <section class="tabla-documentos">
          <table mat-table [dataSource]="dataSourceDocumentos" class="tabla-sin-fondo">

            <!-- Columna de documentos -->
            <ng-container matColumnDef="column">
              <th mat-header-cell *matHeaderCellDef class="header-centrado">
                <h6>Documentos</h6>
              </th>
              <td mat-cell *matCellDef="let row" (click)="mostrarPDF(row.column)" class="documento-celda clickable-row">
                <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
                {{ row.column }}
              </td>
            </ng-container>

            <!-- Cabecera -->
            <tr mat-header-row *matHeaderRowDef="['column']"></tr>
            <!-- Filas -->
            <tr mat-row *matRowDef="let row; columns: ['column']"></tr>

          </table>
        </section>

      </div>


      <!-- Visor PDF -->
      <div class="col-8" id="visor">
        <ng-container *ngIf="pdfSrc">
          <ngx-extended-pdf-viewer
          [src]="pdfSrc" 
          [zoom]="zoom" 
          useBrowserLocale="true"
          *ngIf="pdfSrc">
        </ngx-extended-pdf-viewer>
        </ng-container>
      </div>

    </div>
  </div>
</div>