:host {
  display: block;
  padding: 24px;
  background-color: #fdfdfd;
}

.busqueda-form {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}


.tabla-container {
  border-radius: 8px;
  overflow: hidden;
}

.tabla-estilizada {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
}

td.mat-cell {
  border-bottom: 1px solid #e0e0e0;
}

.tabla-fila-hover:hover {
  background-color: #f2f8ff;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.mat-paginator {
  margin-top: 10px;
}

.negrita {
  font-weight: 600;
  color: #666;
}


.fila-hover-focus:hover,
.fila-hover-focus:focus,
.fila-hover-focus.cdk.focused,
.fila-hover-focus.cdk-keyboard-focused
 {
background-color: #6A0F49 !important;
color: #ffc3d0;
cursor: pointer;
outline: none;
}